body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/*header*/
.header{
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.nav{
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;}
.nav-left{
    margin-top: 20px;
}
.logo{
    max-width: 90px;
    width: 100%;
}
.nav-right{
    margin-top: 20px;
}
.nav-list{
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
}
.nav-link{
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 30px;
}

/*main*/
<main class="main-container">
        <section class="main">
            <div class="main-info">
                <h2 class="main-info-title">Full set of great features to make your product fresh</h2>
                <p class="main-info-text">
                    Our favorite brands are our friends! We help them to achieve their goals, they help us to stay sharp.
                </p>  
            </div>
            <div class="main-form-container">
                <form class="main-form" action="">
                    <label class="label" for="name">Name</label>
                    <input class="input" type="text" id="name" required autofocus placeholder="Name Nameson">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="email" required placeholder="email@email.com">
                    <label class="label" for="message">Message</label>
                    <textarea class="input" name="message" id="message" cols="30" rows="1" placeholder="Your message here" required></textarea>
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>

/*footer*/
.footer{ 
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px; 
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.nav-footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-footer-left{
    margin-top: 20px;
}    
.logo-footer{
    max-width: 90px;
    width: 100%;
}
.nav-footer-right{
     margin-top: 20px;
}    

.nav-list-footer{
    width: 100%;
    list-style: none;
    display: inline-flex;}
.nav-link-footer{
     color: #111111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
.social-footer{
    max-width: 95px;
    width: 100%;
}