body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/* header */
.header {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.nav{
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-left{
    margin-top: 20px;
}
.nav-right{ 
    margin-top: 20px;
}
.logo{  
    max-width: 90px;
    width: 100%;
}
.nav-list{
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
}
.nav-link{
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.nav-link>a{
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav-link>a:hover{
    background-color: #111111;
    border-radius: 5px;
    color: #4A4FF2;
}
/*main */
.main{
    max-width: 1110px;
    width: 100%;
    overflow-x: hidden;
}
.main-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
}
.main-container{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*behövs denna*/
.container-info{}

.main-title{ 
    color: #4A4FF2;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.42px;
}
.main-text{ max-width: 635px;
    width: 100%;
    color: #111111;
    font-size: 40px;
    font-weight: bold;
}
.product-designer{
    color: #4A4FF2;
}
.container-quote{
    padding-left: 20px;
    margin-right: 50px;
}
.main-quote{
    color: #111111;
    font-size: 28px;
    font-style: italic;
    align-self: flex-end;
}
.grid-images{
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9 1fr);
    grid-template-rows: repeat(32 1fr);
    grid-gap: 10px; 
}
.img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-1-column-left{
    grid-row: 1/7;
}
.image-2-column-middle{
    grid-row: 1/6;
}
.image-3-column-right{
    grid-row: 1/10;
}
.image-4-column-left{
    grid-row: 7/14;
}
.image-5-column-middle{
    grid-row: 6/12;
}
.image-6-column-right{
    grid-row: 10/16;
}
.image-7-column-left{
    grid-row: 14/21;
}
.image-8-column-middle{
    grid-row: 12/20;
}
.image-9-column-right{
    grid-row: 16/24;
}
.image-10-column-left{
    grid-row: 21/29;
}
.image-11-column-middle{
    grid-row: 20/29;
}
.image-12-column-right{
    grid-row: 24/29;
}
.service{
    margin-top: 90px;
    padding: 26px 0 34px;
    border-bottom: 1px solid black;
}
.service-container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;
    align-items: start;
}
.service-info{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.8;
    color: #111;
    max-width: 630px;
}
.service-text{
    margin: 0;  
}
.service-list{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}
.service-list-middle{
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    color: #111111;  
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column; 
    opacity: 0.6;
}
.service-list-right{
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    color: #111111;
    margin-left: 50px; 
    line-height: 1.5; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;  
    opacity: 0.6;
}
.awards-container{
    max-width: 1110px;
    width: 100%;
    border-top: 1px solid black;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.grid-awards{
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px; 
}
.awards{
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px; }
.awards-site{
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.awards-ui-kit{
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 38px;
}
.awards-date{
    color: #111111;
    font-size: 16px;
    text-align: end;
    margin-top: 38px;
}
.awards-best{
    color: #111111;
    font-size: 21px;
    font-weight: bold;
    grid-column: 2/3;
}
.awards-template{
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 18px;
}
.awards-date-two{
    color: #111111;
    font-size: 16px;
    text-align: end;
    margin-top: 38px;
}
.css-design-awards{}
.css-design-awards-container{
    max-width: 1110px;
    width: 100%;
    border-top: 1px solid black;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.grid-design-awards{
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px; 
}
.design{
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.design-site{
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.design-ui-kit{
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 38px;
}
.design-date{
    color: #111111;
    font-size: 16px;
    text-align: end;
    margin-top: 38px;
}
.design-best{
    color: #111111;
    font-size: 21px;
    font-weight: bold;
    grid-column: 2/3;
}
.design-template{
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 18px;
}
.design-date-two{
    color: #111111;
    font-size: 16px;
    text-align: end;
    margin-top: 38px;
}
/*  Footer  */
.footer{
  width: 100%;
  margin-top: 70px;
  padding: 28px 0;
}
/* footer nav */
.nav-footer{
  max-width: 1110px;
  margin: 0 auto;
  padding: 22px 20px 0;
  border-top: 1px solid #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* vänster */
.logo-footer{
  height: 20px;
  width: auto;
  display: block;
}
/* höger: links + social */
.nav-footer-right{
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-list-footer{
  display: flex;
  flex-direction: row;     
  align-items: center;
  gap: 32px;
  list-style: none;
  margin: 0;               
  padding: 0;             
  width: auto;             
}
.nav-link-footer{
  margin: 0;
  padding: 0;
}
/* länkar */
.nav-link-footer a{
  font-size: 18px;
  font-weight: 800;
  letter-spacing: .08em;
  text-decoration: none;
  color: #111;
}
.nav-link-footer a:hover{
  color: #4A4FF2;
}
/* social icons */
.social-footer{
  height: 16px;
  width: auto;
  display: block;       
  opacity: .85;
}
