body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/* header */
.header {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.nav{
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-left{
    margin-top: 20px;
}
.logo{  
    max-width: 90px;
    width: 100%;
}
.nav-right{ 
    margin-top: 20px;
}
.nav-list{
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
}
.nav-link{
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 30px;
}

/*main */
.main{
    max-width: 1110px;
    width: 100%;
    overflow-x: hidden;
}
.main-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
}
.main-container{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*behövs denna*/
.container-info{}

.main-title{ 
    color: #4A4FF2;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.42px;
}
.main-text{ max-width: 635px;
    width: 100%;
    color: #111111;
    font-size: 40px;
    font-weight: bold;
}

/*productdesigner?*/
.product-designer{
    color: #4A4FF2;
}
.container-quote{
    padding-left: 20px;
    margin-right: 50px;
}
.main-quote{
    color: #111111;
    font-size: 18px;
    font-style: italic;
    align-self: flex-end;
}

.grid-images{
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.grid-container{
     width: 100%;
    display: grid;
    grid-template-columns: repeat(9 1fr);
    grid-template-rows: repeat(32 1fr);
    grid-gap: 10px; 
}
/* ändra här placering!!GRID */

.image-1-column-left{
    grid-row: 1/7;
}
.image-2-column-middle{
    grid-row: 1/6;
}
.image-3-column-right{
    grid-row: 1/10;
}
.image-4-column-left{
    grid-row: 7/14;
}
.image-5-column-middle{
    grid-row: 6/12;
}
.image-6-column-right{
    grid-row: 10/16;
}
.image-7-column-left{
    grid-row: 14/21;
}
.image-8-column-middle{
    grid-row: 12/20;
}
.image-9-column-right{
    grid-row: 16/24;
}
.image-10-column-left{
    grid-row: 21/29;
}
.image-11-column-middle{
    grid-row: 20/29;
}
.image-12-column-right{
    grid-row: 24/29;
}


.awards{}
.awards-container{}
.grid-awards{}
.awards-site{}
.awards-ui-kit{}

.awards-date{}
.awards-best{}
.awards-template{}

.css-design-awards{}
.css-design-awards-container{}
.grid-design-awards{}
.design{}
.design-site{}
.design-ui-kit{}

.design-date{}
.design-best{}
.design-template{}

.design-date-two{}

/*footer*/
.footer{ 
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px; 
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.nav-footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-footer-left{
    margin-top: 20px;
}    
.logo-footer{
    max-width: 90px;
    width: 100%;
}
.nav-footer-right{
     margin-top: 20px;
}    

.nav-list-footer{
    width: 100%;
    list-style: none;
    display: inline-flex;}
.nav-link-footer{
     color: #111111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
.social-footer{
    max-width: 95px;
    width: 100%;
}