body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/*header*/
.header
.nav
.nav-left
.logo
.nav-right
.nav-list
.nav-link

/*main*/
.main-container
.main
.main-info
.main-title
.main-text
.main-list
.main-list-title
.main-list-item
                   
.img13
.secondery-info
.secondary-img-container
.secondary-img-14
.img14
.secondary-img-15
.img15
.secondary-img-16
.img16

/*footer*/
.footer
.nav-footer
.nav-footer-left
.logo-footer
.nav-footer-right
.nav_list-footer
.nav_link-footer 
.social-footer