body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/*header*/
.header
.nav
.nav-left
.logo
.nav-right
.nav__list
.nav__link

/*main*/

/*footer*/